 .container {
  
   margin-left: 500PX;
    height: 300px;
 
    -webkit-transform: translate(-30%, -30%);
    transform: translate(-30%, -30%);
  }
 
  table {
    width: 80%;
    height: 300px;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    margin-left: 200PX;
  }
  
  th,
  td {
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.2);
    
  }
   th {
    text-align: left;
  }
  thead th {
    background-color: #060B26;
    color: white;
  }
  tbody tr:hover {
    background-color: rgba(255, 255, 255, 0.3);
  }
  tbody td {
    position: relative;
  }
  tbody td:hover:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -9999px;
    bottom: -9999px;
    background-color: rgba(255, 255, 255, 0.2);
    z-index: -1;
  } 

 